<% if (post.photos && post.photos.length){ %>
    <div class="article-gallery">
        <ul class="article-gallery-photos">
            <% post.photos.forEach(function(photo, i){ %>
            <li>
                <a class="article-gallery-img fancybox" href="<%- url_for(photo) %>" rel="gallery_<%= post._id %>">
                    <img src="<%- url_for(photo) %>" itemprop="image">
                </a>
            </li>
            <% }) %>
        </ul>
    </div>
<% } %>