
@font-face
    font-family Raleway-Medium
    src url('../fonts/raleway_medium/Raleway-Medium.eot')
    src url('../fonts/raleway_medium/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway_medium/Raleway-Medium.woff') format('woff'),
    url('../fonts/raleway_medium/Raleway-Medium.ttf') format('truetype'),
    url('../fonts/raleway_medium/Raleway-Medium.svg#iconfont') format('svg');
  font-weight medium
  font-style normal