.tenses img
    margin 1rem 0
    
.example
    color darkblue

.columns
    display grid
    grid-gap gutter-width
    margin-bottom gutter-width

@media (min-width: 768px)
  .columns
    grid-template-columns repeat(2, 1fr)