
// Gallery


//.article-gallery-img
//  display none
//  max-width 100%
//  &:first-child
//    display block
//  &.loaded
//    position absolute
//    display block
//  img
//    display block
//    max-width 100%
//    margin 0 auto
/*
$article-gallery-ctrl
  position absolute
  top 0
  height 100%
  width 60px
  color #fff
  text-shadow 0 0 3px rgba(0, 0, 0, 0.3)
  opacity 0.3
  transition opacity 0.2s
  cursor pointer
  &:hover
    opacity 0.8
  &:before
    font-size 30px
    font-family font-icon
    position absolute
    top 50%
    margin-top @font-size * -0.5

.article-gallery-prev
  @extend $article-gallery-ctrl
  left 0
  &:before
    content "\f053"
    left 15px

.article-gallery-next
  @extend $article-gallery-ctrl
  right 0
  &:before
    content "\f054"
    right 15px*/