.navbar
  position relative
  padding-top 3rem
  text-align center
  .nav
    list-unstyled()
    .nav-item-link
      display block
      padding 1rem;
      color sea-dark
      text-decoration none
      cursor pointer
      &:hover
        color link-hover-color
    &.nav-main
      .nav-item-link
        &::before, i.fe
          display block
          line-height 1
        &::before
          font-family 'feathericon'
      .nav-item
        &:nth-child(1)         // home
          .nav-item-link
            &::before
              content '\f12f'
        &:nth-child(2)         // archives
          .nav-item-link
            &::before
              content '\f12a'
        &:nth-child(3)         // gallery
          .nav-item-link
            &::before
              content '\f1a9'

        //&:nth-child(4)         // categories
        //  .nav-item-link
        //    &::before
        //      content '\f18c'
        //&:nth-child(5)         // tags
        //  .nav-item-link
        //    &::before
        //      content '\f153'

        &:nth-child(4)         // about
          .nav-item-link
            &::before
              content '\f174'

        &:nth-child(5)         // links
          .nav-item-link
            &::before
              content '\f136'

.navbar-bottom
  position absolute
  bottom 0
  width 100%

.logo
  text-align center
  img
    width brand-size

