//
// safari browser
//
.safari
  &,
  .safari-header,
  .safari-body
    position: relative
    overflow: hidden
  background-color: froth
  border-radius: border-radius
    
.safari-example
  height 36rem
  padding: 0
  margin: 0
  background-repeat: no-repeat
  background-size: cover
  background-position: top left
  bg-image("/images/example")

.safari-btns
  position: relative
  &,
  &:before,
  &:after
    display: inline-block
    rounded-circle(1rem)
  background-color: #eb6b60
  &:before,
  &:after
    content: ''
    position: absolute
  &:before
    left: 1.5rem
    background-color: #f4be4f
  &:after
    left: 3rem
    background-color: #66c655
